html {
    font-size: 22px;
    border: 1px solid #000000;
}


table, td, tr, th, caption{
    border: 1px solid #100f0f;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
}   
